<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Line Awesome CSS -->
    <link rel="stylesheet" href="assets/css/line-awesome.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <!-- Magnific CSS -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <!-- Owl Theme CSS -->
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- RTL CSS -->
    <link rel="stylesheet" href="assets/css/rtl.css">
    <!-- Favicon -->
    <link rel="icon" type="images/png" href="assets/img/favicon.ico">
    <title>Window - Marketing Agency</title>
    <style>
        .features-tow-card {
            height: 450px !important;
        }

            .features-tow-card p {
                text-align: justify;
                text-justify: inter-word;
            }
    </style>
</head>

<body>
    <!-- Preloader Area -->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Navbar Area -->
    <div class="navbar-area fixed-top" style="display:none">
        <div class="eoda-responsive-nav">
            <div class="container">
                <div class="eoda-responsive-menu">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/img/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="eoda-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo.png" alt="logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">

                                <a href="#" class="nav-link active">
                                    الرئيسية
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="about.html" class="nav-link">
                                    النافذة
                                </a>
                            </li>

                            <li class="nav-item">

                                <a href="services.html" class="nav-link">
                                    خدماتنا
                                </a>

                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    اعمالنا
                                </a>

                            </li>
                            <li class="nav-item">

                                <a href="#" class="nav-link">
                                    اخبار الميديا
                                </a>

                            </li>
                            <li class="nav-item">
                                <a href="contact.html" class="nav-link">اتصل بنا</a>
                            </li>
                            <!--<li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link search-box">
                                    <i class="las la-search"></i>
                                </a>
                            </li>-->

                            <li class="nav-btn">
                                <a href="#" class="default-btn-two">احصل على عرض مالي</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
    <!-- Search Overlay -->
    <div class="search-overlay" style="display:none">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>

                <div class="search-overlay-close">
                    <span class="search-overlay-close-line"></span>
                    <span class="search-overlay-close-line"></span>
                </div>
                <div class="search-overlay-form">
                    <form>
                        <input type="text" class="input-search" placeholder="Search here...">
                        <button type="submit"><i class='las la-search'></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Search Overlay -->
    <!-- Banner Area -->
    <div class="banner-area"  >
        <div class="container">
            <div class="banner-contant">
                <div class="text-contant">
                    <span>شركة النافذة</span>
                    <h1>مختصون في التسويق الإلكتروني</h1>
                    <p> نافذتك الى عالم مواقع التواصل الاجتماعية والتسويق الالكتروني</p>
                    <div class="banner-btn">
                        <a href="https://wa.me/966554513331" class="default-btn" style="display:none">احصل على تحليل لصفحتك</a>

                        <a href="tel:00966554513331" class="default-btn-two mr-3" style="display:none">اتصل الان</a>

                        <a id="button" href="https://wa.me/966554513331">  <img src="assets/img/whatsapp-button-3.png" /></a>

                        <a id="button" href="tel:00966554513331">  <img src="assets/img/Call-Now2.png" /></a>

                    </div>
                </div>
                <div class="img-contant" style="display:none">
                    <img src="assets/img/banner/banner.jpg" alt="Image">
                    <!--<div class="video-box">
                        <a href="https://www.youtube.com/watch?v=E-k3G3uy4c4" class="video-btn popup-youtube">
                            <i class="las la-play"></i>
                        </a>
                    </div>-->
                </div>
            </div>

            <div class="shape-1">
                <img src="assets/img/shapes/shape-1.png" alt="Shape">
            </div>
            <div class="shape-2">
                <img src="assets/img/shapes/shape-2.png" alt="Shape">
            </div>
            <div class="shape-3">
                <img src="assets/img/shapes/shape-3.png" alt="Shape">
            </div>
            <div class="shape-4">
                <img src="assets/img/shapes/shape-4.png" alt="Shape">
            </div>
            <div class="shape-5">
                <img src="assets/img/shapes/shape-5.png" alt="Shape">
            </div>
            <div class="shape-6">
                <img src="assets/img/shapes/shape-6.png" alt="Shape">
            </div>
            <div class="shape-7">
                <img src="assets/img/shapes/shape-7.png" alt="Shape">
            </div>
            <div class="shape-8">
                <img src="assets/img/shapes/shape-8.png" alt="Shape">
            </div>
            <div class="shape-9">
                <img src="assets/img/shapes/shape-9.png" alt="Shape">
            </div>
            <div class="shape-10">
                <img src="assets/img/shapes/shape-10.png" alt="Shape">
            </div>
            <div class="shape-11">
                <img src="assets/img/shapes/shape-11.png" alt="Shape">
            </div>
        </div>
    </div>
    <!-- End Banner Area -->
    <!-- Contact Us Area -->
    <div class="contact-area">
        <div class="container">
            <div class="contact-content">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="contact-text">
                            <h2>تواصل معنا لتحصل على استشارة مجانية في التسويق الالكتروني</h2>
                            <p>نقدم لكم خدمات ادارة موقع التواصل الاجتماعي بكل احترافيه و بأعلى تقنيه التي تحاكي التطور في عالم السوشال ميديا للوصول لأكبر عدد من العملاء المستهدفين من خلال زيادة عدد المتابعين و بتالي زيادة  المبيعات لهذا ندعوكم لاعتماد على خبرتنا في الوصول للعملاء المستهدفين من خلال مواقع التواصل الاجتماعي سناب شات و الانستغرام و تويتر و  قوقل اد  و يوتيوب و باقي المنصات الاجتماعية</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="contact-form">
                            <form id="emailForm">
                                <div class="form-group">
                                    <input type="text" name="from_name" class="form-control" id="from_name" required data-error="يرجى تعبئة الاسم" placeholder="الاسم">
                                    <div class="help-block with-errors"></div>
                                    <i class="las la-user"></i>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="mobile_no" class="form-control" id="mobile_no" required data-error="يرجى تعبئة رقم الهاتف" placeholder="رقم الهاتف">
                                    <div class="help-block with-errors"></div>
                                    <i class="las la-phone"></i>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="from_email" class="form-control" id="from_email" required data-error="يرجى تعبئة البريد الالكتروني" placeholder="البريد الالكتروني">
                                    <div class="help-block with-errors"></div>
                                    <i class="las la-at"></i>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" id="message" class="form-control" cols="30" rows="6" required data-error="مختصر عن طبيعة عملك" placeholder="مختصر عن طبيعة عملك"></textarea>
                                    <div class="help-block with-errors"></div>
                                    <i class="las la-envelope"></i>
                                </div>
                                <div class="form-group" style="text-align:center">
                                    <label id="lblmessage" style="color:greenyellow;display:none">تم ارسال رسالتك بنجاح</label>
                                </div>
                                <div class="send-btn">
                                    <button type="submit" id="button" class="default-btn-two">ارسال</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Us Area -->
    <!-- Features Tow Area  -->
    <div class="features-area bg-f6f4ff pb-70">
        <div class="container">
            <div class="section-title">
                <span>خدماتنا</span>

                <p>
                    لتزويد عملائنا بحلول تكنولوجيا المعلومات والخدمات ذات الجودة العالية والفعالية والكفاءة وخدمات ما بعد البيع.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="features-tow-card">
                        <i class="las la-bullhorn"></i>
                        <h3>التسويق الالكتروني</h3>
                        <p>أصبح الإعلان الرقمي من أهم أنواع التسويق والدعاية للمنتجات أو الاسم التجاري للشركة.  يوجد الإعلان الرقمي فرصًا قوية لنشر العلامة التجارية والخدمات او المنتجات على نطاق واسع. ومن خلال الإعلانات على  قنوات التواصل الاجتماعي  المختلفة ، يمكن لنا  الوصول إلى جماهير أكبر بطريقة في وقت اسرع وبذلك نحقق وصول اسرع واشهار العلامة التجارية وباقل تكلفة.</p>

                        <div class="card-shape1">
                            <img src="assets/img/shapes/shape-15.png" alt="Shape">
                        </div>
                        <div class="card-shape2">
                            <img src="assets/img/shapes/shape-12.png" alt="Shape">
                        </div>
                        <div class="card-shape3">
                            <img src="assets/img/shapes/shape-12.png" alt="Shape">
                        </div>
                        <div class="card-shape4">
                            <img src="assets/img/shapes/shape-16.png" alt="Shape">
                        </div>
                        <div class="card-shape5">
                            <img src="assets/img/shapes/shape-14.png" alt="Shape">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="features-tow-card">
                        <i class="las la-search-plus"></i>
                        <h3>تحسين محركات البحث</h3>
                        <p>
                            تعد شبكة الويب العالمية (www) الآن أحد أهم خطوط الاتصال والدعاية للشركات في الشبكة ولأن مواقع الويب هي واجهة أي شركة.

                            نحن في شركة النافذة نبني أفضل تصميم إبداعي سهل وسريع وبأسعار منافسة وتم تطويره باستخدام التقنيات العالمية ، كما يعمل على جميع الأجهزة الذكية وأجهزة الكمبيوتر مع إمكانية الحصول على صفحات تحكم ديناميكية تفاعلية
                        </p>
                        <div class="card-shape1">
                            <img src="assets/img/shapes/shape-15.png" alt="Shape">
                        </div>
                        <div class="card-shape2">
                            <img src="assets/img/shapes/shape-12.png" alt="Shape">
                        </div>
                        <div class="card-shape3">
                            <img src="assets/img/shapes/shape-12.png" alt="Shape">
                        </div>
                        <div class="card-shape4">
                            <img src="assets/img/shapes/shape-16.png" alt="Shape">
                        </div>
                        <div class="card-shape5">
                            <img src="assets/img/shapes/shape-14.png" alt="Shape">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                    <div class="features-tow-card">
                        <i class="las la-chart-pie"></i>
                        <h3>المواقع الالكترونية</h3>
                        <p>
                            تعد شبكة الويب العالمية (www) الآن أحد أهم خطوط الاتصال والدعاية للشركات في الشبكة ولأن مواقع الويب هي واجهة أي شركة.

                            نحن في شركة النافذة نبني أفضل تصميم إبداعي سهل وسريع وبأسعار منافسة وتم تطويره باستخدام التقنيات العالمية ، كما يعمل على جميع الأجهزة الذكية وأجهزة الكمبيوتر مع إمكانية الحصول على صفحات تحكم ديناميكية تفاعلية
                        </p>

                        <div class="card-shape1">
                            <img src="assets/img/shapes/shape-15.png" alt="Shape">
                        </div>
                        <div class="card-shape2">
                            <img src="assets/img/shapes/shape-12.png" alt="Shape">
                        </div>
                        <div class="card-shape3">
                            <img src="assets/img/shapes/shape-12.png" alt="Shape">
                        </div>
                        <div class="card-shape4">
                            <img src="assets/img/shapes/shape-16.png" alt="Shape">
                        </div>
                        <div class="card-shape5">
                            <img src="assets/img/shapes/shape-14.png" alt="Shape">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-100">
                <div class="col-lg-4 col-sm-6">
                    <div class="features-tow-card">
                        <i class="las la-meteor"></i>
                        <h3>تطبيقات الهواتف</h3>
                        <p>
                            ئالمعلومات والخدمات ومشاركتها والتواصل مع مزودي الخدمة.

                            تطوير العمل واستخدام التطبيقات الذكية يزيد من ثقة المستخدم ونشر العلامة التجارية .

                            نحن في شركة النافذة نستخدم احدث لغات البرمجة العالمية لتعمل على مختلف الهواتف الذكية
                        </p>
                        <div class="card-shape1">
                            <img src="assets/img/shapes/shape-15.png" alt="Shape">
                        </div>
                        <div class="card-shape2">
                            <img src="assets/img/shapes/shape-12.png" alt="Shape">
                        </div>
                        <div class="card-shape3">
                            <img src="assets/img/shapes/shape-12.png" alt="Shape">
                        </div>
                        <div class="card-shape4">
                            <img src="assets/img/shapes/shape-16.png" alt="Shape">
                        </div>
                        <div class="card-shape5">
                            <img src="assets/img/shapes/shape-14.png" alt="Shape">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="features-tow-card">
                        <i class="las la-chart-pie"></i>
                        <h3>الاستضافة</h3>
                        <p>
                            نقدم لكم خدمة الاستضافة على خوادم محلية و على عالمية قوية وآمنة

                            نقدم لكم خدمة الاستضافة على خوادم محلية و على عالمية قوية وآمنة.

                            اذا كان لديك موقع الكتروني وتريد استضافته أو كنت بحاجة إلى بريد إلكتروني رسمي لعملك؛ يمكننا في النافذة تزويدك ببريد إلكتروني باسم منشأتك وبسعة غير محدودة مع امكانية تحميلة على هاتفك

                        </p>
                        <div class="card-shape1">
                            <img src="assets/img/shapes/shape-15.png" alt="Shape">
                        </div>
                        <div class="card-shape2">
                            <img src="assets/img/shapes/shape-12.png" alt="Shape">
                        </div>
                        <div class="card-shape3">
                            <img src="assets/img/shapes/shape-12.png" alt="Shape">
                        </div>
                        <div class="card-shape4">
                            <img src="assets/img/shapes/shape-16.png" alt="Shape">
                        </div>
                        <div class="card-shape5">
                            <img src="assets/img/shapes/shape-14.png" alt="Shape">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                    <div class="features-tow-card">
                        <i class="las la-search-plus"></i>
                        <h3>التصميم والطباعة</h3>
                        <p>مهما كانت طبيعة منشأتك وكنت بحاجة لتصميم الشعار او الفرطاسية وايجاد هوية موحدة لمنأتك, نحن ننفذ لكم في النافذة جميع ما تحتاج من تصاميم المطبوعات التي تحتاجها باحترافية وتحتوي على أفكار فريدة</p>

                        <div class="card-shape1">
                            <img src="assets/img/shapes/shape-15.png" alt="Shape">
                        </div>
                        <div class="card-shape2">
                            <img src="assets/img/shapes/shape-12.png" alt="Shape">
                        </div>
                        <div class="card-shape3">
                            <img src="assets/img/shapes/shape-12.png" alt="Shape">
                        </div>
                        <div class="card-shape4">
                            <img src="assets/img/shapes/shape-16.png" alt="Shape">
                        </div>
                        <div class="card-shape5">
                            <img src="assets/img/shapes/shape-14.png" alt="Shape">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Features Tow Area  -->
    <!-- About Area -->
    <div class="about-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-text">
                        <span>من نحن</span>
                        <h3>واحدة من الشركات التسويق وادارة المنصات الإلكترونية المتميزة ونقدم لكم خدماتنا باحترافية عالية </h3>
                        <p>النافذة®للتسويق هي شركة خدمات رقمية مخصصة مقرها في المملكة العربية السعودية ، والتي لديها خبرة واسعة في العديد من المجالات المتنوعة في التسويق الالكتروني وتطوير البرمجيات. يسمح لنا تركيزنا القوي في مجال الأعمال والخبرة التقنية بتقديم حلول واستراتيجيات قوية لعملائنا تتماشى بشكل وثيق مع أهداف أعمالهم طويلة الأجل.</p>
                        <br />
                        <p>
                            النافذة®للتسويق تقدم خدمات إستراتيجية تتضمن خدمات التسويق الالكتروني و المواقع الالكترونية و تطبيقات الهواتف الذكية وبرامج اتمتة المؤسسات وغيرها مما يساعد العميل التعامل مع جهة واحدة لتلبية جميع احتياجاته الرقمية.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="assets/img/about/about-img.jpg" alt="Image">
                        <div class="about-card">
                            <i class="las la-gem"></i>
                            <h3> <span>اكثر من  </span>10</h3>
                            <p>سنوات من الخبرة</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->
    <!-- Choose Area -->
    <div class="choose-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="choose-images">
                        <img src="assets/img/choose/choose-1.jpg" class="img-1" alt="Image">
                        <div class="choos-img">
                            <img src="assets/img/choose/choose-2.png" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-text">
                        <span>لماذا النافذة؟</span>
                        <h2>نقدم لكم خدماتنا بكل احترافيه و بأعلى التقنيات التي تحاكي التطور</h2>
                        <p>رؤيتنا بان نصبح الشريك المفضل لديكم لتقديم الخدمات التسويقية والحلول البرمجية ولتطويرعملكم من خلال تقديم خدمات موثوقة وجودة تضمن رضاكم الدائم ونتميز ب</p>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <ul>
                                    <li>
                                        <i class="las la-sync-alt"></i>
                                        التحليل المتقدم
                                    </li>
                                    <li>
                                        <i class="las la-search-plus"></i>
                                        المتابعة المستمرة
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <ul>
                                    <li>
                                        <i class="las la-file-archive"></i>
                                        امن وفعال
                                    </li>
                                    <li>
                                        <i class="las la-bullseye"></i>
                                        استهداف بابتكار
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Choose Area -->
  
    <!-- Partner Slider Area -->
    <div class="partner-area ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>بعض من قصص النجاح</h2>
            </div>
            <div class="partner-slider owl-carousel owl-theme">
                <div class="partner-slider-item">
                    <a href="#">
                        <img src="assets/img/partner/partner1.png" alt="logo">
                    </a>
                </div>
                <div class="partner-slider-item">
                    <a href="#">
                        <img src="assets/img/partner/partner2.png" alt="logo">
                    </a>
                </div>
                <div class="partner-slider-item">
                    <a href="#">
                        <img src="assets/img/partner/partner3.png" alt="logo">
                    </a>
                </div>
                <div class="partner-slider-item">
                    <a href="#">
                        <img src="assets/img/partner/partner4.png" alt="logo">
                    </a>
                </div>
                <div class="partner-slider-item">
                    <a href="#">
                        <img src="assets/img/partner/partner5.png" alt="logo">
                    </a>
                </div>
                <div class="partner-slider-item">
                    <a href="#">
                        <img src="assets/img/partner/partner6.png" alt="logo">
                    </a>
                </div>
                <div class="partner-slider-item">
                    <a href="#">
                        <img src="assets/img/partner/partner7.png" alt="logo">
                    </a>
                </div>
                <div class="partner-slider-item">
                    <a href="#">
                        <img src="assets/img/partner/partner8.png" alt="logo">
                    </a>
                </div>
                <div class="partner-slider-item">
                    <a href="#">
                        <img src="assets/img/partner/partner9.png" alt="logo">
                    </a>
                </div>
                <div class="partner-slider-item">
                    <a href="#">
                        <img src="assets/img/partner/partner10.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Area-->
    <footer class="footer-area pt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="footer-widget">
                        <div class="logo">
                            <img src="assets/img/logo-white.png" alt="logo">
                        </div>
                        <p>النافذة®للتسويق هي شركة خدمات رقمية مخصصة مقرها في المملكة العربية السعودية ، والتي لديها خبرة واسعة في العديد من المجالات المتنوعة في التسويق الالكتروني وتطوير البرمجيات. يسمح لنا تركيزنا القوي في مجال الأعمال والخبرة التقنية بتقديم حلول واستراتيجيات قوية لعملائنا تتماشى بشكل وثيق مع أهداف أعمالهم طويلة الأجل.</p>
                    </div>
                </div>
                

                <div class="col-lg-4 col-sm-6">
                    <div class="footer-widget mt-20">
                        <h3>معلومات التواصل</h3>
                        <ul class="text-list">

                            <li>العنوان : المملكة العربية السعودية - المنطقة الشرقية</li>
                            <li><a href="mailto:hibrahim@wmc-ksa.com"> Email: hibrahim@wmc-ksa.com</a></li>
                            <li><a href="tel:+966554513331"> Phone: +966554513331</a></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>Copyright @2021  All Rights Reserved <a href="#" target="_blank">Window</a></p>
            </div>
            <div class="footer-shape">
                <img src="assets/img/footer-shape.png" alt="Shape">
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->
    <!-- Go Top -->
    <div class="go-top">
        <i class="las la-hand-point-up"></i>
    </div>
    <!-- End Go Top -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="assets/js/meanmenu.min.js"></script>
    <!-- Magnific JS -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Odometer JS -->
    <script src="assets/js/odometer.min.js"></script>
    <!-- Appear JS -->
    <script src="assets/js/jquery.appear.js"></script>
    <!-- Form Validator JS -->
    <script src="assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="assets/js/contact-form-script.js"></script>
    <!-- Ajaxchimp JS -->
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Custom JS -->
    <script src="assets/js/custom.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_DFO50xb7s5iyEZO6TVQcl");
        })();
        const btn = document.getElementById('button');
        const lblmessage = document.getElementById('lblmessage');
        document.getElementById('emailForm')
         .addEventListener('submit', function (event) {
             event.preventDefault();
             debugger;
             btn.value = 'Sending...';

             const serviceID = 'window123';
             const templateID = 'template_18p1wgd';

             emailjs.sendForm(serviceID, templateID, this)
              .then(() => {
                  btn.value = 'Send Email';
                  lblmessage.style.display = "block";
                
              }, (err) => {
                  btn.value = 'Send Email';
                  alert(JSON.stringify(err));
              });
         });
    </script>
</body>
</html>