<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!-- Line Awesome CSS -->
        <link rel="stylesheet" href="assets/css/line-awesome.min.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="assets/css/meanmenu.min.css">
        <!-- Magnific CSS -->
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <!-- Owl Theme CSS -->
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
        <!-- Odometer CSS -->
        <link rel="stylesheet" href="assets/css/odometer.min.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <!-- Stylesheet CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Stylesheet Responsive CSS -->
        <link rel="stylesheet" href="assets/css/responsive.css">
        <!-- RTL CSS -->
        <link rel="stylesheet" href="assets/css/rtl.css">
        <!-- Favicon -->
        <link rel="icon" type="images/png" href="assets/img/favicon.png">

        <title>Eoda - SEO & Marketing Agency HTML Template</title>
    </head>
    
    <body>
        <!-- Preloader Area -->
        <div class="preloader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>
        <!-- End Preloader Area -->

        <!-- Start Navbar Area -->
        <div class="navbar-area banner-three">
            <div class="eoda-responsive-nav">
                <div class="container">
                    <div class="eoda-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/img/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="eoda-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/img/logo.png" alt="logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Home <i class="las la-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">Home Demo - 1</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="index-2.html" class="nav-link">Home Demo - 2</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="index-3.html" class="nav-link">Home Demo - 3</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="about.html" class="nav-link">
                                        About Us
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link active">
                                        Pages <i class="las la-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="about.html" class="nav-link">About</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="team.html" class="nav-link ">Team</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="testimonials.html" class="nav-link active">Testimonials</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="gallery.html" class="nav-link">Gallery</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">FAQ</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                User <i class="las la-angle-right"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="sign-in.html" class="nav-link">Sign In</a>
                                                </li>
        
                                                <li class="nav-item">
                                                    <a href="sign-up.html" class="nav-link">Sign Up</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                        </li>
        
                                        <li class="nav-item">
                                            <a href="terms-condition.html" class="nav-link">Terms & Condition</a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a href="coming-soon.html" class="nav-link">Coming Soon</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="error-404.html" class="nav-link">404 Error Page</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Services <i class="las la-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="services.html" class="nav-link">Services</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="service-details.html" class="nav-link">Services Details</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Case Study  <i class="las la-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="case-study.html" class="nav-link">Case Study</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="case-study-details.html" class="nav-link">Case Study Details</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Blog <i class="las la-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="blog.html" class="nav-link">Blog</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="blog-details.html" class="nav-link">Blog Details</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="contact.html" class="nav-link">Contact</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a href="javascript:void(0)" class="nav-link search-box">
                                        <i class="las la-search"></i>
                                    </a>
                                </li>

                                <li class="nav-btn">
                                    <a href="#" class="default-btn-two">Get A Quote</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Search Overlay -->
        <div class="search-overlay">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    
                    <div class="search-overlay-close">
                        <span class="search-overlay-close-line"></span>
                        <span class="search-overlay-close-line"></span>
                    </div>

                    <div class="search-overlay-form">
                        <form>
                            <input type="text" class="input-search" placeholder="Search here...">
                            <button type="submit"><i class='las la-search'></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Overlay -->

        <!-- Page banner Area -->
        <div class="page-banner bg-1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-content">
                            <h2>Testimonials</h2>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Testimonials</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page banner Area -->

        <!-- Testimonials Area -->
        <div class="testimonials-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <span>Testimonials</span>
                    <h2>What Our Clients Say’s About Us</h2>
                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="testmonials-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-md-4">
                                    <div class="testmonials-img">
                                        <img src="assets/img/testimonials/client-7.jpg" alt="Image">
                                    </div>
                                </div>
        
                                <div class="col-lg-8 col-md-8">
                                    <div class="testmonials-text">
                                        <h3>Helina Linka</h3>
                                        <span>CEO & Manager</span>
                                        <i class="las la-quote-right quote"></i>
                                        <div class="rating">
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                        </div>
                                        <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="t-shape">
                                <img src="assets/img/shapes/shape-20.png" alt="Shape">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="testmonials-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-md-4">
                                    <div class="testmonials-img">
                                        <img src="assets/img/testimonials/client-2.jpg" alt="Image">
                                    </div>
                                </div>
        
                                <div class="col-lg-8 col-md-8">
                                    <div class="testmonials-text">
                                        <h3>Andres John</h3>
                                        <span>CEO of LTD company</span>
                                        <i class="las la-quote-right quote"></i>
                                        <div class="rating">
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                        </div>
                                        <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="t-shape">
                                <img src="assets/img/shapes/shape-20.png" alt="Shape">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="testmonials-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-md-4">
                                    <div class="testmonials-img">
                                        <img src="assets/img/testimonials/client-1.jpg" alt="Image">
                                    </div>
                                </div>
        
                                <div class="col-lg-8 col-md-8">
                                    <div class="testmonials-text">
                                        <h3>karlos Mikel</h3>
                                        <span>CEO & founder of Alshine</span>
                                        <i class="las la-quote-right quote"></i>
                                        <div class="rating">
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                        </div>
                                        <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="t-shape">
                                <img src="assets/img/shapes/shape-20.png" alt="Shape">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="testmonials-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-md-4">
                                    <div class="testmonials-img">
                                        <img src="assets/img/testimonials/client-9.jpg" alt="Image">
                                    </div>
                                </div>
        
                                <div class="col-lg-8 col-md-8">
                                    <div class="testmonials-text">
                                        <h3>Arina Selgom</h3>
                                        <span>CEO & Manager</span>
                                        <i class="las la-quote-right quote"></i>
                                        <div class="rating">
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                        </div>
                                        <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="t-shape">
                                <img src="assets/img/shapes/shape-20.png" alt="Shape">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="testmonials-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-md-4">
                                    <div class="testmonials-img">
                                        <img src="assets/img/testimonials/client-8.jpg" alt="Image">
                                    </div>
                                </div>
        
                                <div class="col-lg-8 col-md-8">
                                    <div class="testmonials-text">
                                        <h3>John Doe</h3>
                                        <span>CEO marketing</span>
                                        <i class="las la-quote-right quote"></i>
                                        <div class="rating">
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                        </div>
                                        <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="t-shape">
                                <img src="assets/img/shapes/shape-20.png" alt="Shape">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="testmonials-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-md-4">
                                    <div class="testmonials-img">
                                        <img src="assets/img/testimonials/client-3.jpg" alt="Image">
                                    </div>
                                </div>
        
                                <div class="col-lg-8 col-md-8">
                                    <div class="testmonials-text">
                                        <h3>Darbel Henry</h3>
                                        <span>UX/UI Designer</span>
                                        <i class="las la-quote-right quote"></i>
                                        <div class="rating">
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                            <i class="las la-star"></i>
                                        </div>
                                        <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="t-shape">
                                <img src="assets/img/shapes/shape-20.png" alt="Shape">
                            </div>
                        </div>
                    </div>

                    <!-- Pagination -->
                    <div class="col-lg-12 col-md-12">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonials Area -->

        <!-- Partner Slider Area -->
        <div class="partner-area ptb-100">
            <div class="container">
                <div class="partner-slider owl-carousel owl-theme">
                    <div class="partner-slider-item">
                        <a href="#">
                            <img src="assets/img/partner/partner1.png" alt="logo">
                        </a>
                    </div>
                    <div class="partner-slider-item">
                        <a href="#">
                            <img src="assets/img/partner/partner2.png" alt="logo">
                        </a>
                    </div>
                    <div class="partner-slider-item">
                        <a href="#">
                            <img src="assets/img/partner/partner3.png" alt="logo">
                        </a>
                    </div>
                    <div class="partner-slider-item">
                        <a href="#">
                            <img src="assets/img/partner/partner4.png" alt="logo">
                        </a>
                    </div>
                    <div class="partner-slider-item">
                        <a href="#">
                            <img src="assets/img/partner/partner5.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Partner Slider Area -->

        <!-- Subscribe Area -->
        <div class="subscribe-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <h2>Stay Up To Date With Our Latest News!</h2>
                </div>

                <div class="subscribe-form">
                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required="" autocomplete="off">
                        <button type="submit" class="default-btn-two">Subscribe</button>

                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                    <p>*We won’t spam you. we promise! <i class="las la-thumbs-up"></i></p>
                </div>
            </div>
        </div>
        <!-- End Subscribe Area -->

        <!-- Footer Area-->
        <footer class="footer-area pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="footer-widget">
                            <div class="logo">
                                <img src="assets/img/logo-white.png" alt="logo">
                            </div>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs.</p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6">
                        <div class="footer-widget pl-80 mt-20">
                            <h3>Company</h3>
                    
                            <ul class="footer-text">
                                <li>
                                    <a href="about.html">About Us</a>
                                </li>
                                <li>
                                    <a href="services.html">Services</a>
                                </li>
                                <li>
                                    <a href="#">Features</a>
                                </li>
                                <li>
                                    <a href="#">Our Pricing</a>
                                </li>
                                <li>
                                    <a href="#">Case Study</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-2 col-sm-6">
                        <div class="footer-widget pl-50 mt-20">
                            <h3>Support</h3>
                    
                            <ul class="footer-text">
                                <li>
                                    <a href="faq.html">FAQ’s</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-condition.html">Terms & Conditions</a>
                                </li>
                                <li>
                                    <a href="#">Community</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="footer-widget mt-20">
                            <h3>Contact Info</h3>
                            <ul class="text-list">
                                <li>Location: 6B Highway, TarklenSt, NEW YORK</li>
                                <li><a href="mailto:Eoda@info.com"> Email: eoda@info.com</a></li>
                                <li><a href="tel:+0123456987"> Phone: +0123 456 987</a></li>
                            </ul>

                            <ul class="info-list">
                                <li>
                                    <a href="#"><i class="lab la-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="lab la-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"> <i class="lab la-linkedin-in"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="lab la-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <p>Copyright @2020 Eoda. All Rights Reserved <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
                </div>

                <div class="footer-shape">
                    <img src="assets/img/footer-shape.png" alt="Shape">
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->

        <!-- Go Top -->
        <div class="go-top">
            <i class="las la-hand-point-up"></i>
        </div>
        <!-- End Go Top -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="assets/js/meanmenu.min.js"></script>
        <!-- Magnific JS -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Odometer JS -->
        <script src="assets/js/odometer.min.js"></script>
        <!-- Appear JS -->
        <script src="assets/js/jquery.appear.js"></script>
        <!-- Form Validator JS -->
        <script src="assets/js/form-validator.min.js"></script>
        <!-- Contact JS -->
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Ajaxchimp JS -->
        <script src="assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Custom JS -->
        <script src="assets/js/custom.js"></script>
    </body>
</html>